/* VARIABLES */

:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}


/* public-sans-100 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src:
  url("../fonts/public-sans-v13-latin-100.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/public-sans-v13-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/public-sans-v13-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/public-sans-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src:
  url("../fonts/public-sans-v13-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/public-sans-v13-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

*{
  
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

ul,
li{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.site-header{
  background-color: #fff;
}

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 23px;
}

.header--active .header__nav{
  display: block;
  background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
}

.header__list{
  width: 100%;
  max-width: 320px;
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: center;
  flex-direction: column;
  padding: 32px 0;
  background: #FFFFFF;
  border-radius: 4px;
  list-style: none;
  animation: close 0.3s linear;
}

.header--active .header__list{
  display: flex;
}

.header--active .header__btn{
  background-image: url("../images/close.svg");
  width: 18px;
  height: 19px;
  background-color: transparent;
}

.header__item{
  margin-bottom: 24px;
}

.header__item:last-child{
  margin-bottom: 0;
}

.header__link{
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #2D314D;
}

.header__btn{
  background-image: url("../images/open.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 11px;
  border: none;
  background-color: transparent;
}


.header__button{
  display: none;
}

@keyframes close {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}

.hero{
  padding-top: 0px;
  padding-bottom: 88px;
  background-image: url("../images/hero-mobile-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: calc(50% + 0px);
  background-position-y: calc(50% - 182px);
}

.hero__content{
  padding-top: 320px;
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  text-align: center;
}

.hero__title{
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.hero__desc{
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #9597A5;
}

.hero__btn{
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 36px;
  padding-left: 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero__btn:hover{
  opacity: 0.4;
}

.cause{
  background-color: #f4f5f7;
  padding: 64px 0;
}

.cause__title{
  margin-bottom: 14px;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.571429px;
  color: #2D314D;
}

.cause__desc{
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #9597A5
}

.cause__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.cause__item{
  position: relative;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  margin-top: 128px;
  text-align: center;
}

.cause__item::before{
  position: absolute;
  content: "";
  background-image: url("../images/cause__list__image.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cause__item:nth-child(2)::before{
  position: absolute;
  content: "";
  background-image: url("../images/cause__list__image-2.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cause__item:nth-child(3)::before{
  position: absolute;
  content: "";
  background-image: url("../images/cause__list__image-3.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cause__item:nth-child(4)::before{
  position: absolute;
  content: "";
  background-image: url("../images/cause__list__image-4.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cause__item:first-child{
  margin-top: 152px;
}

.cause__subtitle{
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2D314D;
}

.cause__subdesc{
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #9597A5;  
}

.article{
  padding: 88px 0;
}

.article__heading{
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.571429px;
  color: #2D314D;
}

.article__image{
  width: 100%;
}


.article__list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 327px;
  margin: 0 auto;
  margin-bottom: 24px;
  list-style: none;
}

.article__item{
  width: 100%;
  max-width: 327px;
  background: #FFFFFF;
  border-radius: 5px;
}

.article__box{
  width: 265px;
  padding: 25px 31px;
  text-align: start;
}

.article__creator{
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}

.article__subheading{
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
  cursor: pointer;
}

.article__subheading:hover{
  color: #33D35E;
}

.article__desc{
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}

.site-footer{
  background-color: #2D314D;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

.footer__social{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__social__list{
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.footer__social__item{
  margin-right: 16px;
}

.footer__social__item > a{
  color: #fff;  
  text-decoration: none;
}

.footer__social__item > a:hover{
  color: #30C88F;
}

.footer__social__item:last-child{
  margin-right: 0;
}

.footer__list{
  list-style: none;
}

.footer__item{
  margin-bottom: 8px;
}

.footer__item > a{
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
}

.footer__bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.footer__button{
  display: inline-block;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-right: 36px;
  padding-bottom: 8px;
  padding-left: 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}

.footer__rights{
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer__item > a:hover{
  color: #30C88F;
}











@media screen and (min-width: 590px){
  .header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .header__list{
    width: 100%;
    min-width: 320px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 0 0;
    background: none;
    border-radius: 0;
    margin-right: 50px;
  }
  
  .header--active .header__list{
    display: flex;
  }
  
  .header--active .header__btn{
    background-image: url("../images/close.svg");
    width: 18px;
    height: 19px;
    background-color: transparent;
  }
  
  .header__item{
    margin-right: 30px;
    margin-bottom: 0;
  }
  
  .header__item:last-child{
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }
  
  .header__btn{
    display: none;
    background-image: url("../images/open.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    border: none;
    background-color: transparent;
  }
  
  .hero{
    padding-top: 0px;
    padding-bottom: 88px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/hero-tablet-desktop-bg.png");
    background-position-x: calc(50% + 237px);
    background-position-y: calc(50% - 49px);
  }
  
  .hero__content{
    padding-top: 170px;
    width: 100%;
    max-width: 327px;
    margin: 0 0;
    text-align: start;
  }
  
  .hero__title{
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 40px;
    line-height: 47px;
    text-align: start;
    letter-spacing: -0.714286px;
    color: #2D314D;
  }
  
  .hero__desc{
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    letter-spacing: -0.234375px;
    color: #9597A5;
  }
  
  .hero__btn{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 36px;
    padding-left: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .hero__btn:hover,
  .header__button:hover,
  .footer__button:hover
  {
    opacity: 0.4;
  }
  
  .cause{
    background-color: #f4f5f7;
    padding: 64px 0;
  }
  
  .cause__title{
    margin-bottom: 14px;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }
  
  .cause__desc{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5
  }
  
  .cause__list{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .cause__item{
    position: relative;
    width: 100%;
    max-width: 260px;
    margin: 0 0;
    margin-top: 128px;
    text-align: center;
  }
  
  .cause__item::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(2)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-2.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(3)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-3.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(4)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-4.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:first-child{
    margin-top: 152px;
  }
  
  .cause__subtitle{
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2D314D;
  }
  
  .cause__subdesc{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;  
  }
  
  .article{
    padding: 88px 0;
  }
  
  .article__heading{
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }
  
  .article__image{
    width: 100%;
  }
  
  
  .article__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 327px;
    margin: 0 auto;
    margin-bottom: 24px;
    list-style: none;
  }
  
  .article__item{
    width: 100%;
    max-width: 327px;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  
  .article__box{
    width: 265px;
    padding: 25px 31px;
    text-align: start;
  }
  
  .article__creator{
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
  }
  
  .article__subheading{
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
  }
  
  .article__desc{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
  }
}










@media screen and (min-width: 769px){
  .header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .header__list{
    width: 100%;
    min-width: 320px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 0 0;
    background: none;
    border-radius: 0;
    margin-right: 50px;
  }
  
  .header--active .header__list{
    display: flex;
  }
  
  .header--active .header__btn{
    background-image: url("../images/close.svg");
    width: 18px;
    height: 19px;
    background-color: transparent;
  }
  
  .header__item{
    padding: 32px 0;
    margin-right: 30px;
    margin-bottom: 0;
    border-bottom: 3px solid transparent;
  }
  
  .header__item:hover{
    border-bottom: 3px solid #33D35E;
  }
  
  .header__item:last-child{
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }
  
  .header__btn{
    display: none;
    background-image: url("../images/open.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    border: none;
    background-color: transparent;
  }
  
  .hero{
    padding-top: 0px;
    padding-bottom: 88px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/hero-tablet-desktop-bg.png");
    background-position-x: calc(50% + 327px);
    background-position-y: calc(50% - 54px);
  }
  
  .hero__content{
    padding-top: 170px;
    width: 100%;
    max-width: 447px;
    margin: 0 0;
    text-align: start;
  }
  
  .hero__title{
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
  }
  
  .hero__desc{
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
  }
  
  .hero__btn{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 36px;
    padding-left: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .hero__btn:hover{
    opacity: 0.4;
  }
  
  .cause{
    background-color: #f4f5f7;
    padding: 64px 0;
  }
  
  .cause__content{
    width: 635px;
  }
  
  .cause__title{
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 40px;
    line-height: 38px;
    text-align: start;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }
  
  .cause__desc{
    font-size: 18px;
    line-height: 25px;
    text-align: start;
    letter-spacing: -0.234375px;
    color: #9597A5
  }
  
  .cause__list{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
  }
  
  .cause__item{
    position: relative;
    width: 100%;
    max-width: 260px;
    margin: 0 0;
    margin-top: 128px;
    text-align: center;
  }
  
  .cause__item::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: -178px;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(2)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-2.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: -178px;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(3)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-3.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: -178px;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:nth-child(4)::before{
    position: absolute;
    content: "";
    background-image: url("../images/cause__list__image-4.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: -70px;
    left: -178px;
    right: 0;
    margin: 0 auto;
  }
  
  .cause__item:first-child{
    margin-top: 152px;
  }
  
  .cause__subtitle{
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    text-align: start;
    letter-spacing: -0.357143px;
    color: #2D314D;
  }
  
  .cause__subdesc{
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    letter-spacing: -0.234375px;
    color: #9597A5;  
  }
  
  
  .article{
    padding: 88px 0;
  }
  
  .article__heading{
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }
  
  .article__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 327px;
    margin: 0 0;
    margin-bottom: 24px;
    list-style: none;
  }
  
  .article__item{
    width: 100%;
    max-width: 327px;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  
  .article__box{
    width: 265px;
    padding: 25px 31px;
    text-align: start;
  }
  
  .article__creator{
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
  }
  
  .article__subheading{
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
  }
  
  .article__desc{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
  }




  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    text-align: center;
  }

  .footer__logo{
    width: 139px;
    height: 20px;
  }
  
  .footer__social__list{
    margin: 0px 0;
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
  }
  
  .footer__social__item{
    margin-right: 13px;
    margin-bottom: 8px;
  }
  
  .footer__social__item > a{
    color: #fff;  
    text-decoration: none;
  }
  
  .footer__social__item > a:hover{
    color: #30C88F;
  }
  
  .footer__social__item:last-child{
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .footer__list{
    list-style: none;
  }
  
  .footer__item{
    margin-bottom: 18px;
  }
  
  .footer__item > a{
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
  }
  
  .footer__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  
  .footer__button{
    display: inline-block;
    margin-bottom: 14px;
    padding-top: 8px;
    padding-right: 36px;
    padding-bottom: 8px;
    padding-left: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
  }
  
  .footer__rights{
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  
  .footer__item > a:hover{
    color: #30C88F;
  }


}













@media screen and (min-width: 1024px){
  .header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .header__list{
    width: 100%;
    min-width: 320px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 0 0;
    background: none;
    border-radius: 0;
    margin-right: 50px;
  }
  
  .header--active .header__list{
    display: flex;
  }
  
  .header--active .header__btn{
    background-image: url("../images/close.svg");
    width: 18px;
    height: 19px;
    background-color: transparent;
  }
  
  .header__item{
    padding: 32px 0;
    margin-right: 30px;
    margin-bottom: 0;
    border-bottom: 3px solid transparent;
  }
  
  .header__item:hover{
    border-bottom: 3px solid #33D35E;
  }
  
  .header__item:last-child{
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }
  
  .header__btn{
    display: none;
    background-image: url("../images/open.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    border: none;
    background-color: transparent;
  }
  
  .hero{
    position: relative;
    padding-top: 0px;
    padding-bottom: 88px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
    background-position-x: 0;
    background-position-y: 0;
  }

  .hero::after{
    position: absolute;
    content: "";
    background-image: url("../images/hero-tablet-desktop-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: calc(50% + 480px);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  
  .hero__content{
    padding-top: 170px;
    width: 100%;
    max-width: 447px;
    margin: 0 0;
    text-align: start;
  }
  
  .hero__title{
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
  }
  
  .hero__desc{
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
  }
  
  .hero__btn,
  .header__button
  {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 36px;
    padding-left: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .hero__btn:hover{
    opacity: 0.4;
  }
  
  .article{
    padding: 88px 0;
  }
  
  .article__heading{
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    text-align: start;
    margin-bottom: 40px;
  }
  
  .article__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    min-width: 255px;
    margin: 0 0;
    margin-bottom: 24px;
    list-style: none;
  }
  
  .article__item{
    width: 242px;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  
  .article__image{
    width: 255px;
    height: 200px;
  }
  
  .article__box{
    width: 264px;
    padding: 25px 24px;
    text-align: start;
  }
  
  .article__creator{
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
  }
  
  .article__subheading{
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
  }

  
  
  .article__desc{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
  }
}





@media screen and (min-width: 1165px){
  .header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .header__list{
    width: 100%;
    min-width: 320px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 0 0;
    background: none;
    border-radius: 0;
    margin-right: 50px;
  }
  
  .header--active .header__list{
    display: flex;
  }
  
  .header--active .header__btn{
    background-image: url("../images/close.svg");
    width: 18px;
    height: 19px;
    background-color: transparent;
  }
  
  .header__item{
    padding: 32px 0;
    margin-right: 30px;
    margin-bottom: 0;
    border-bottom: 3px solid transparent;
  }
  
  .header__item:hover{
    border-bottom: 3px solid #33D35E;
  }
  
  .header__item:last-child{
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }
  
  .header__btn{
    display: none;
    background-image: url("../images/open.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    border: none;
    background-color: transparent;
  }
  
  .hero{
    position: relative;
    padding-top: 0px;
    padding-bottom: 88px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
    background-position-x: 0;
    background-position-y: 0;
  }

  .hero::before{
    position: absolute;
    content: "";
    background-image: url("../images/hero-bg-layer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: calc(50% + 620px);
    background-position-y: calc(50% + 20px);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 100px;
  }

  .hero::after{
    position: absolute;
    content: "";
    background-image: url("../images/hero-bg-tel.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: calc(50% + 109px);
    background-position-y: calc(50% + -30px);
    width: 671px;
    height: 680px;
    right: 0;
    top: 0;
    z-index: 101px;
  }
  
  .hero__content{
    padding-top: 170px;
    width: 100%;
    max-width: 447px;
    margin: 0 0;
    text-align: start;
  }
  
  .hero__title{
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
  }
  
  .hero__desc{
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
  }
  
  .hero__btn,
  .header__button
  {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 36px;
    padding-left: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .hero__btn:hover{
    opacity: 0.4;
  }
}